### 데이터 프레임 생성하기

In [1]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series([1,3,4,np.nan, 6,8])
print(s)
s[2:]

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20210430', periods =10)
dates
dir(dates)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_comparison_methods',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_safe_casting',
 '_assert_take_fillable',
 '_attributes',
 '_bool_ops',
 '_box_func',
 '_can_fast_intersect',
 '_can_fast_union',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_check_indexing_error',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_comparables',
 '_concat',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_datetimelike_methods',
 '_datetimelike_ops',
 '_default_dtype',
 '_defer_to_indexing',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_fast_union',
 '_field_ops',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_partial_string_timestamp_match_key',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_time_micros',
 '_get_unique_index',
 '_get_values_for_loc',
 '_has_complex_internals',
 '_has_same_tz',
 '_hasnans',
 '_id',
 '_inner_indexer',
 '_invalid_indexer',
 '_is_comparable_dtype',
 '_is_compatible_with_other',
 '_is_convertible_to_index_for_join',
 '_is_dates_only',
 '_is_memory_usage_qualified',
 '_is_monotonic_decreasing',
 '_is_monotonic_increasing',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_is_unique',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_map_values',
 '_maybe_cast_for_get_loc',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_promote',
 '_maybe_utc_convert',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_nan_idxs',
 '_no_setting_name',
 '_object_ops',
 '_outer_indexer',
 '_parsed_string_to_bounds',
 '_partial_date_slice',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_resolution_obj',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_should_fallback_to_positional',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_supports_partial_string_indexing',
 '_to_safe_for_reshape',
 '_transform_index',
 '_typ',
 '_union',
 '_union_incompatible_dtypes',
 '_validate_dtype',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_partial_date_slice',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_with_freq',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'ceil',
 'copy',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'floor',
 'format',
 'freq',
 'freqstr',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'hour',
 'identical',
 'indexer_at_time',
 'indexer_between_time',
 'inferred_freq',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_leap_year',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_month_end',
 'is_month_start',
 'is_normalized',
 'is_numeric',
 'is_object',
 'is_quarter_end',
 'is_quarter_start',
 'is_type_compatible',
 'is_unique',
 'is_year_end',
 'is_year_start',
 'isin',
 'isna',
 'isnull',
 'isocalendar',
 'item',
 'join',
 'map',
 'max',
 'mean',
 'memory_usage',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'name',
 'names',
 'nanosecond',
 'nbytes',
 'ndim',
 'nlevels',
 'normalize',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'quarter',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'resolution',
 'round',
 'searchsorted',
 'second',
 'set_names',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'snap',
 'sort',
 'sort_values',
 'sortlevel',
 'strftime',
 'symmetric_difference',
 'take',
 'time',
 'timetz',
 'to_flat_index',
 'to_frame',
 'to_julian_date',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_period',
 'to_perioddelta',
 'to_pydatetime',
 'to_series',
 'transpose',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'union',
 'union_many',
 'unique',
 'value_counts',
 'values',
 'view',
 'week',
 'weekday',
 'weekofyear',
 'where',
 'year']

In [ ]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4,11)),dtype='float32'),
                    'D' : np.array([3] * 7,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train","train","test","train"]),
                    'F' : 'foo' })
display(df2)
a = ["A01","A02"]
b = ["201501","201502"]

      A          B    C  D      E    F
4   1.0 2013-01-02  1.0  3   test  foo
5   1.0 2013-01-02  1.0  3  train  foo
6   1.0 2013-01-02  1.0  3   test  foo
7   1.0 2013-01-02  1.0  3  train  foo
8   1.0 2013-01-02  1.0  3  train  foo
9   1.0 2013-01-02  1.0  3   test  foo
10  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
pd.DataFrame(list(zip(a,b)))

     0       1
0  A01  201501
1  A02  201502

In [ ]:
a = ["A01","100"]
b = ["A02","200"]
pd.DataFrame([a,b])

     0    1
0  A01  100
1  A02  200

### 리스트로 데이터프레임 만들기

In [ ]:
import pandas as pd

# 리스트 선언
regionList = ["A01","A02","A03"]
yearweekList = list(range(201501,201506,1))
qtyList = list(range(100,600,100))

eachDf = pd.DataFrame(regionList, columns = ["REGIONID"], index = {'a', 'b', 'c'})
listDf = pd.DataFrame(
    zip(regionList, yearweekList, qtyList),
    columns = ["REGIONID","YEARWEEK","QTY"])
print(eachDf.head(3))
print()
print(listDf.head(3))

  REGIONID
a      A01
c      A02
b      A03

  REGIONID  YEARWEEK  QTY
0      A01    201501  100
1      A02    201502  200
2      A03    201503  300

### 딕셔너리로 데이터프레임 만들기

In [ ]:
# 딕셔너리 선언
regionList = ["A01","A02","A03","A04","A05"]
yearweekList = list(range(
    201501,201506,1))
qtyList = list(range(100,600,100))
dictDf = { "REGIONID":regionList,
           "YEARWEEK":yearweekList,
           "QTY":qtyList}

dictDf = pd.DataFrame(dictDf)
dictDf

  REGIONID  YEARWEEK  QTY
0      A01    201501  100
1      A02    201502  200
2      A03    201503  300
3      A04    201504  400
4      A05    201505  500

### 데이터를 읽어서 바로 데이터프레임 만들기

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!ls drive/MyDrive/0430

customerdata.csv	      kopo_channel_seasonality_new.csv
join_kopo_product_volume.csv  kopo_product_volume.csv
join_region_master.csv

In [4]:
customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")
customerData.head(10)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog
5  B16849  3755.263391    2            4    2.786665      Sleeping-dog
6  B18816  3213.911446    2            6    0.900000        Early-bird
7  C10639  3516.500000    2            5    2.564830  Big-Screen-lover
8  C12717  3732.900000    2            5    2.069995  Big-Screen-lover
9  C15050  4020.173425    2            4    3.013440      Sleeping-dog

In [ ]:
!pwd

/content

In [ ]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

# 데이터 준비 (customerdata.csv)

In [ ]:
import pandas as pd

customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [ ]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

# 데이터 분석 및 데이터 전처리

# 1. 원하는 행 조회하기

In [ ]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

### 미션: 무이자 할부 3건이면서 제품구매건수가 5번 이상인 데이터 조회

### (1) 단순 조건에 맞는 데이터 조회하기

In [ ]:
import pandas as pd
import re
# CSV 파일을 읽어 DataFrame 변수에 저장하기
# customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")

emiCondition = 3
deviceCondition = 5
## 조건 설정
answer = customerData.loc[ (customerData.EMI==emiCondition) & 
                        (customerData.DEVICECOUNT>deviceCondition) ]
print(answer.head())
print()
answer2 = customerData.loc[ (customerData.PRODUCTAGE<=1) & 
                        (customerData.DEVICECOUNT>deviceCondition) ]
print(answer2.head())

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27  F17131  3179.708359    3            6    1.100000        Early-bird
33  G16437  3787.328898    3            6    1.000000        Early-bird
36  G18402  3402.199381    3            6    1.000000        Early-bird
40  H16326  3988.935304    3            6    0.900000        Early-bird

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE    CUSTTYPE
3   A16605  3713.211107    2            6         0.9  Early-bird
6   B18816  3213.911446    2            6         0.9  Early-bird
13  D11795  2991.014703    2            6         0.8  Early-bird
23  E19404  3764.940414    2            6         0.9  Early-bird
24  F10222  3191.065822    2            6         0.9  Early-bird

### [추가] 데이터프레임 타입변환

In [ ]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [ ]:
customerData.CUSTID = customerData.CUSTID.astype(str)
customerData.EMI = customerData.EMI.astype(float)
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI            float64
DEVICECOUNT    float64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [ ]:
customerData.CUSTID = customerData.CUSTID.astype(str)

customerData = customerData.astype( 
                {"CUSTID":str,
                 "DEVICECOUNT":int})

In [ ]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI            float64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [ ]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000  3.0            6    1.679181  Big-Screen-lover
1  A14219  3642.441950  2.0            4    2.682023      Sleeping-dog
2  A15312  3653.884565  2.0            5    3.208202      Sleeping-dog
3  A16605  3713.211107  2.0            6    0.900000        Early-bird
4  B10634  3391.074215  2.0            4    2.453656      Sleeping-dog

### 미션: 무이자할부가 2 또는 3건인 경우 와 반대의 경우 조회

### (2) 컬럼 내 다중 값 포함여부 조회하기

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 DataFrame 변수에 저장하기
# customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")

## 조건 설정
emiCondition = [2,3]

## 조건 설정
answer1 = customerData.loc[ customerData.EMI.isin(emiCondition) ]
# ~은 not이고 isin은 안에 있냐인 듯?
answer2 = customerData.loc[ ~ customerData.EMI.isin(emiCondition) ]
display(answer1)

display(answer2)

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000  3.0            6    1.679181  Big-Screen-lover
1    A14219  3642.441950  2.0            4    2.682023      Sleeping-dog
2    A15312  3653.884565  2.0            5    3.208202      Sleeping-dog
3    A16605  3713.211107  2.0            6    0.900000        Early-bird
4    B10634  3391.074215  2.0            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000  2.0            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527  3.0            6    0.900000        Early-bird
147  Z16428  3516.500000  2.0            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000  2.0            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183  2.0            6    1.200000        Early-bird

[139 rows x 6 columns]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
11   C18622  3246.000000  1.0            5    1.891624  Big-Screen-lover
46   I14835  3374.091339  1.0            4    2.749678      Sleeping-dog
47   I17056  2963.370122  1.0            3    2.139196      Sleeping-dog
56   K10712  3419.462596  1.0            4    2.825790      Sleeping-dog
57   K13300  3159.839204  1.0            3    1.960833      Sleeping-dog
65   M16452  3353.537290  1.0            4    1.940357      Sleeping-dog
68   N14862  2390.083736  1.0            6    1.000000        Early-bird
72   O13037  3398.216334  1.0            4    2.994395      Sleeping-dog
73   O13586  2980.229239  1.0            3    2.038603      Sleeping-dog
86   Q16449  3048.308860  1.0            3    2.369758      Sleeping-dog
140  Y12458  2976.211190  1.0            3    2.199677      Sleeping-dog

### 미션: 1,3번 행, 1~3번 행, 전체행 조회

In [ ]:
a = customerData.loc[[1, 3], :]
display(a)
print()
display(customerData.loc[1:3])
print()
display(customerData)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1  A14219  3642.441950    2            4           3  Sleeping-dog
3  A16605  3713.211107    2            6           1    Early-bird

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1  A14219  3642.441950    2            4           3  Sleeping-dog
2  A15312  3653.884565    2            5           3  Sleeping-dog
3  A16605  3713.211107    2            6           1    Early-bird

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6           2  Big-Screen-lover
1    A14219  3642.441950    2            4           3      Sleeping-dog
2    A15312  3653.884565    2            5           3      Sleeping-dog
3    A16605  3713.211107    2            6           1        Early-bird
4    B10634  3391.074215    2            4           3      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5           3  Big-Screen-lover
146  Z13534  3662.437527    3            6           1        Early-bird
147  Z16428  3516.500000    2            5           3  Big-Screen-lover
148  Z16735  3300.100000    2            5           2  Big-Screen-lover
149  Z19835  3326.526183    2            6           2        Early-bird

[150 rows x 6 columns]

### (3) 인덱스 활용하여 조회하기

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 DataFrame 변수에 저장하기
# customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000  3.0            6    1.679181  Big-Screen-lover
1  A14219  3642.441950  2.0            4    2.682023      Sleeping-dog
2  A15312  3653.884565  2.0            5    3.208202      Sleeping-dog
3  A16605  3713.211107  2.0            6    0.900000        Early-bird
4  B10634  3391.074215  2.0            4    2.453656      Sleeping-dog

In [ ]:
specificIndex = [1,3]

## 인덱스로 범위 설정
#1번째, 3번째만
answer1 = customerData.loc[ specificIndex ]

# 1~3번째
answer2 = customerData.loc[ 1:3 ]  

# 전체
answer3 = customerData.loc[ : ]  

print(len(answer1))
print(answer1)
print()

print(len(answer2))
print(answer2)
print()

print(len(answer3))

2
   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1  A14219  3642.441950  2.0            4    2.682023  Sleeping-dog
3  A16605  3713.211107  2.0            6    0.900000    Early-bird

3
   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1  A14219  3642.441950  2.0            4    2.682023  Sleeping-dog
2  A15312  3653.884565  2.0            5    3.208202  Sleeping-dog
3  A16605  3713.211107  2.0            6    0.900000    Early-bird

150

In [ ]:
answer2

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1  A14219  3642.441950  2.0            4    2.682023  Sleeping-dog
2  A15312  3653.884565  2.0            5    3.208202  Sleeping-dog
3  A16605  3713.211107  2.0            6    0.900000    Early-bird

### [프로젝트 실습]

[데이터타입 통합]
kopo_channel_seasonality_new.csv 파일을 불러온 후
selloutData 변수에 담으세요 이후 
QTY컬럼→실수(float), 이외컬럼→문자(str)로 변경하세요

In [ ]:
!pwd

/content

In [ ]:
selloutData = pd.read_csv("/content/drive/MyDrive/0430/kopo_channel_seasonality_new.csv")

In [ ]:
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

In [ ]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [ ]:
selloutData["REGIONID"] = selloutData["REGIONID"].astype(str)
selloutData["PRODUCT"] = selloutData["PRODUCT"].astype(str)
selloutData["YEARWEEK"] = selloutData["YEARWEEK"].astype(str)

In [ ]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

# 2. 원하는 컬럼 조회하기

### (1) 컬럼명 활용하여 부분컬럼 조회하기

In [ ]:
import pandas as pd
from sqlalchemy import create_engine 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
# customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")

# 타겟 컬럼 정의 및 조회
targetColumns = ["CUSTID","AVGPRICE"]

# custid, avg 열만 보기
customerDataC = customerData.loc[ : , targetColumns ]

# 데이터 VIEW
customerDataC.head(2)

   CUSTID    AVGPRICE
0  A13566  4273.90000
1  A14219  3642.44195

### (2) 인덱스 활용하여 부분컬럼 조회하기

In [ ]:
# 타겟 행, 컬럼 정의 및 조회
# 0:3 => 행 , 0:2 => 열
customerDataCIndex = customerData.iloc[ 0:3, 0:2 ]

# 데이터 VIEW
customerDataCIndex

   CUSTID     AVGPRICE
0  A13566  4273.900000
1  A14219  3642.441950
2  A15312  3653.884565

# 3. 인덱스 설정하기

In [ ]:
import pandas as pd
from sqlalchemy import create_engine 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")

In [ ]:
# 2,4,6 행 출력
customerDataIndex = customerData.loc[[2,4,6,8]]
customerDataIndex

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog
6  B18816  3213.911446    2            6    0.900000        Early-bird
8  C12717  3732.900000    2            5    2.069995  Big-Screen-lover

### (1) 인덱스 초기화

In [ ]:
# 위에서 만든 customerDataIndex 사용해서 새로 생성?
display(customerDataIndex)
print("\n\n")
csDataNewIndex = customerDataIndex.set_index(keys=["CUSTID"])
display(csDataNewIndex)
print("\n\n")
customerDataIndexY = customerDataIndex.reset_index()
display(customerDataIndexY)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog
6  B18816  3213.911446    2            6    0.900000        Early-bird
8  C12717  3732.900000    2            5    2.069995  Big-Screen-lover

           AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
CUSTID
A15312  3653.884565    2            5    3.208202      Sleeping-dog
B10634  3391.074215    2            4    2.453656      Sleeping-dog
B18816  3213.911446    2            6    0.900000        Early-bird
C12717  3732.900000    2            5    2.069995  Big-Screen-lover

   index  CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0      2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
1      4  B10634  3391.074215    2            4    2.453656      Sleeping-dog
2      6  B18816  3213.911446    2            6    0.900000        Early-bird
3      8  C12717  3732.900000    2            5    2.069995  Big-Screen-lover

In [ ]:
# index 컬럼을 제거
customerDataIndexN = customerDataIndex.reset_index(drop=True)
customerDataIndexN

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A15312  3653.884565    2            5    3.208202      Sleeping-dog
1  B10634  3391.074215    2            4    2.453656      Sleeping-dog
2  B18816  3213.911446    2            6    0.900000        Early-bird
3  C12717  3732.900000    2            5    2.069995  Big-Screen-lover

### (2) 인덱스 설정

In [ ]:
csDataNewIndex = customerData.set_index(keys=["CUSTID"])
csDataNewIndex.head(3)

           AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
CUSTID
A13566  4273.900000    3            6    1.679181  Big-Screen-lover
A14219  3642.441950    2            4    2.682023      Sleeping-dog
A15312  3653.884565    2            5    3.208202      Sleeping-dog

In [ ]:
csDataNewIndex.loc["A13566":"A1429"]

          AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
CUSTID
A13566  4273.90000    3            6    1.679181  Big-Screen-lover
A14219  3642.44195    2            4    2.682023      Sleeping-dog

### [실습]
[데이터타입 조회]
kopo_customerdata.csv 파일을 불러온 후
kopo_customerData 변수에 담으세요 이후 
STATENAME, GENDER 컬럼 첫 5개행 조회하세요

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
kopo_customerData = pd.read_csv("/content/drive/MyDrive/0430/kopo_product_volume.csv")
kopo_customerData.head(2)

### 데이터불러오기

kopo_customerData.columns

### 컬럼번호 인덱싱

# columns에서 YEARWEEK, VOLUME 번호를 추출
yearNo = kopo_customerData.columns.get_loc("YEARWEEK")
volNo = kopo_customerData.columns.get_loc("VOLUME")
display(kopo_customerData.loc[:20])
kopo_customerData.iloc[0:5,[yearNo,volNo]]

2

   REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0       A01       ST0001    201415  810144
1       A01       ST0002    201415  128999
2       A01       ST0001    201418  671464
3       A01       ST0002    201418  134467
4       A01       ST0001    201413  470040
5       A01       ST0002    201413  140297
6       A01       ST0001    201411  524787
7       A01       ST0002    201411  145509
8       A01       ST0001    201416  764927
9       A01       ST0002    201416  140313
10      A01       ST0001    201419  682757
11      A01       ST0002    201419  128668
12      A01       ST0001    201414  428195
13      A01       ST0002    201414  137488
14      A01       ST0001    201412  486509
15      A01       ST0001    201417  697502
16      A01       ST0002    201417  127163
17      A01       ST0001    201407  620392
18      A01       ST0002    201407  146476
19      A01       ST0001    201410  511679
20      A01       ST0002    201410  153152

   YEARWEEK  VOLUME
0    201415  810144
1    201415  128999
2    201418  671464
3    201418  134467
4    201413  470040

# 4. 이상데이터 정제하기

### (1) np.where 활용

In [ ]:
import pandas as pd
import numpy as np
 
# CSV 파일을 읽어 DataFrame 변수에 저장하기
customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")
display(customerData.head(10))

customerData.PRODUCTAGE=np.where(customerData.PRODUCTAGE <= 1, 
                                 # productage 1보다 작거나 같으면면 1로 변경, 
                                 # 아니면 np.where()한번 더 사용 
                                 # => 2보다 작거나 같으면 2로 변경, 아니면 3으로
                                 1,np.where(customerData.PRODUCTAGE <= 2, 2, 3))

customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog
5  B16849  3755.263391    2            4    2.786665      Sleeping-dog
6  B18816  3213.911446    2            6    0.900000        Early-bird
7  C10639  3516.500000    2            5    2.564830  Big-Screen-lover
8  C12717  3732.900000    2            5    2.069995  Big-Screen-lover
9  C15050  4020.173425    2            4    3.013440      Sleeping-dog

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6           2  Big-Screen-lover
1  A14219  3642.441950    2            4           3      Sleeping-dog
2  A15312  3653.884565    2            5           3      Sleeping-dog
3  A16605  3713.211107    2            6           1        Early-bird
4  B10634  3391.074215    2            4           3      Sleeping-dog

### (2) loc 활용

In [ ]:
# %%timeit
import pandas as pd
 
# CSV 파일을 읽어 DataFrame 변수에 저장하기
customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")

# 각 조건에 맞게 NEW_AGE 컬럼 값을 1 or 2 or 3으로 변경
condition1 = customerData.PRODUCTAGE <= 1
condition2 = (customerData.PRODUCTAGE > 1) & \
             (customerData.PRODUCTAGE <= 2)
condition3 = customerData.PRODUCTAGE > 2
customerData.loc[ condition1, "NEW_AGE" ] = 1
customerData.loc[ condition2, "NEW_AGE" ] = 2
customerData.loc[ condition3, "NEW_AGE" ] = 3
customerData.head(10)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  NEW_AGE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover      2.0
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog      3.0
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog      3.0
3  A16605  3713.211107    2            6    0.900000        Early-bird      1.0
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog      3.0
5  B16849  3755.263391    2            4    2.786665      Sleeping-dog      3.0
6  B18816  3213.911446    2            6    0.900000        Early-bird      1.0
7  C10639  3516.500000    2            5    2.564830  Big-Screen-lover      3.0
8  C12717  3732.900000    2            5    2.069995  Big-Screen-lover      3.0
9  C15050  4020.173425    2            4    3.013440      Sleeping-dog      3.0

### (3) 함수 활용

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 DataFrame 변수에 저장하기
customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")

def agePeriods(inAge):
    if inAge <= 1:
        return 1
    elif inAge <= 2:
        return 2
    else:
        return 3

# apply()안에 함수 넣어서 적용
customerData["NEW_AGE"] = customerData.PRODUCTAGE.apply(agePeriods)
customerData

     CUSTID     AVGPRICE  EMI  ...  PRODUCTAGE          CUSTTYPE NEW_AGE
0    A13566  4273.900000    3  ...    1.679181  Big-Screen-lover       2
1    A14219  3642.441950    2  ...    2.682023      Sleeping-dog       3
2    A15312  3653.884565    2  ...    3.208202      Sleeping-dog       3
3    A16605  3713.211107    2  ...    0.900000        Early-bird       1
4    B10634  3391.074215    2  ...    2.453656      Sleeping-dog       3
..      ...          ...  ...  ...         ...               ...     ...
145  Z13253  3678.800000    2  ...    2.463670  Big-Screen-lover       3
146  Z13534  3662.437527    3  ...    0.900000        Early-bird       1
147  Z16428  3516.500000    2  ...    2.371301  Big-Screen-lover       3
148  Z16735  3300.100000    2  ...    1.704942  Big-Screen-lover       2
149  Z19835  3326.526183    2  ...    1.200000        Early-bird       2

[150 rows x 7 columns]

In [ ]:
# %%timeit
condition = customerData['PRODUCTAGE'] < 1 #.isnull()
customerData.loc[condition, 'PRODUCTAGE_NEW'] = 1
customerData

# 1보다 작으면 1 반환, 아니면 NaN

     CUSTID     AVGPRICE  EMI  ...          CUSTTYPE  NEW_AGE PRODUCTAGE_NEW
0    A13566  4273.900000    3  ...  Big-Screen-lover        2            NaN
1    A14219  3642.441950    2  ...      Sleeping-dog        3            NaN
2    A15312  3653.884565    2  ...      Sleeping-dog        3            NaN
3    A16605  3713.211107    2  ...        Early-bird        1            1.0
4    B10634  3391.074215    2  ...      Sleeping-dog        3            NaN
..      ...          ...  ...  ...               ...      ...            ...
145  Z13253  3678.800000    2  ...  Big-Screen-lover        3            NaN
146  Z13534  3662.437527    3  ...        Early-bird        1            1.0
147  Z16428  3516.500000    2  ...  Big-Screen-lover        3            NaN
148  Z16735  3300.100000    2  ...  Big-Screen-lover        2            NaN
149  Z19835  3326.526183    2  ...        Early-bird        2            NaN

[150 rows x 8 columns]

In [ ]:
import pandas as pd
import numpy as np
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("/content/drive/MyDrive/0430/customerdata.csv")

customerData.columns = ["CUSTID","AVGPRICE","EMI","DEVICECOUNT","PRODUCTAGE","CUSTTYPE"]

# 1보다 작으면 1, 아니면 원래 값 반환
customerData["PRODUCTAGE"]= np.where(customerData["PRODUCTAGE"] < 1, 1,
customerData["PRODUCTAGE"])

customerData.head(10)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    1.000000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog
5  B16849  3755.263391    2            4    2.786665      Sleeping-dog
6  B18816  3213.911446    2            6    1.000000        Early-bird
7  C10639  3516.500000    2            5    2.564830  Big-Screen-lover
8  C12717  3732.900000    2            5    2.069995  Big-Screen-lover
9  C15050  4020.173425    2            4    3.013440      Sleeping-dog

# 5. 데이터 컬럼간 연산하기

In [ ]:
# display(customerData)
#3 custid의 알파벳 제외한 숫자 부분+ "_" + str(EMI)
customerData["NEW_COLUMN"] = customerData.CUSTID.str[1:]+"_"+customerData.EMI.astype(str)
customerData.head()

   CUSTID     AVGPRICE  EMI  ...  PRODUCTAGE          CUSTTYPE NEW_COLUMN
0  A13566  4273.900000    3  ...    1.679181  Big-Screen-lover    13566_3
1  A14219  3642.441950    2  ...    2.682023      Sleeping-dog    14219_2
2  A15312  3653.884565    2  ...    3.208202      Sleeping-dog    15312_2
3  A16605  3713.211107    2  ...    1.000000        Early-bird    16605_2
4  B10634  3391.074215    2  ...    2.453656      Sleeping-dog    10634_2

[5 rows x 7 columns]

### [실습]
productage가 1보다작으면 1, 2보다작으면2, 3보다작으면3,
이외는 5라고 새로운 컬럼 product_age_new를 생성하세요

In [ ]:
customerData.head(2)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,NEW_COLUMN
0,A13566,4273.90000,3,6.4,1.679181,Big-Screen-lover,13566_3
1,A14219,3642.44195,2,4.0,2.682023,Sleeping-dog,14219_2

In [ ]:
customerData["product_age_new"] = np.where(customerData["PRODUCTAGE"]<1,1,np.where(customerData["PRODUCTAGE"]<2,2,np.where(customerData["PRODUCTAGE"]<3,3,5)))

display(customerData.head(10))

   CUSTID     AVGPRICE  EMI  ...          CUSTTYPE  NEW_COLUMN product_age_new
0  A13566  4273.900000    3  ...  Big-Screen-lover     13566_3               2
1  A14219  3642.441950    2  ...      Sleeping-dog     14219_2               3
2  A15312  3653.884565    2  ...      Sleeping-dog     15312_2               5
3  A16605  3713.211107    2  ...        Early-bird     16605_2               2
4  B10634  3391.074215    2  ...      Sleeping-dog     10634_2               3
5  B16849  3755.263391    2  ...      Sleeping-dog     16849_2               3
6  B18816  3213.911446    2  ...        Early-bird     18816_2               2
7  C10639  3516.500000    2  ...  Big-Screen-lover     10639_2               3
8  C12717  3732.900000    2  ...  Big-Screen-lover     12717_2               3
9  C15050  4020.173425    2  ...      Sleeping-dog     15050_2               5

[10 rows x 8 columns]

##### 다른문제 풀이방식 (LOC)

In [ ]:
customerData.loc[ (customerData.PRODUCTAGE < 1), "TEST"   ] = 1
customerData.loc[ (customerData.PRODUCTAGE >= 1) & (customerData.PRODUCTAGE < 2), "TEST"   ] = 2
customerData.loc[ (customerData.PRODUCTAGE >= 2) & (customerData.PRODUCTAGE < 3), "TEST"   ] = 3
customerData.loc[ (customerData.PRODUCTAGE >= 3) , "TEST"   ] = 5
customerData.head(10)

   CUSTID     AVGPRICE  EMI  ...  NEW_COLUMN  product_age_new TEST
0  A13566  4273.900000    3  ...     13566_3                2  2.0
1  A14219  3642.441950    2  ...     14219_2                3  3.0
2  A15312  3653.884565    2  ...     15312_2                5  5.0
3  A16605  3713.211107    2  ...     16605_2                2  2.0
4  B10634  3391.074215    2  ...     10634_2                3  3.0
5  B16849  3755.263391    2  ...     16849_2                3  3.0
6  B18816  3213.911446    2  ...     18816_2                2  2.0
7  C10639  3516.500000    2  ...     10639_2                3  3.0
8  C12717  3732.900000    2  ...     12717_2                3  3.0
9  C15050  4020.173425    2  ...     15050_2                5  5.0

[10 rows x 9 columns]

##### 다른문제 풀이방식 (Function)

In [ ]:
def refining(columnValue):
    if columnValue < 1:
        return 1
    elif columnValue < 2:
        return 2
    elif columnValue < 3:
        return 3
    else:
        return 5

In [ ]:
customerData["PRODUCTAGE_NEW2"]=customerData.PRODUCTAGE.apply(refining)

In [ ]:
customerData.head(10)

   CUSTID     AVGPRICE  EMI  ...  product_age_new  TEST PRODUCTAGE_NEW2
0  A13566  4273.900000    3  ...                2   2.0               2
1  A14219  3642.441950    2  ...                3   3.0               3
2  A15312  3653.884565    2  ...                5   5.0               5
3  A16605  3713.211107    2  ...                2   2.0               2
4  B10634  3391.074215    2  ...                3   3.0               3
5  B16849  3755.263391    2  ...                3   3.0               3
6  B18816  3213.911446    2  ...                2   2.0               2
7  C10639  3516.500000    2  ...                3   3.0               3
8  C12717  3732.900000    2  ...                3   3.0               3
9  C15050  4020.173425    2  ...                5   5.0               5

[10 rows x 10 columns]

In [ ]:
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    elif df['PRODUCTAGE'] < 3:
        return 3
    else:
        return 5

In [ ]:
customerData["PRODUCTAGE_NEW3"]=customerData.apply(refining, axis=1)

In [ ]:
customerData.head()

   CUSTID     AVGPRICE  EMI  ...  TEST  PRODUCTAGE_NEW2 PRODUCTAGE_NEW3
0  A13566  4273.900000    3  ...   2.0                2               2
1  A14219  3642.441950    2  ...   3.0                3               3
2  A15312  3653.884565    2  ...   5.0                5               5
3  A16605  3713.211107    2  ...   2.0                2               2
4  B10634  3391.074215    2  ...   3.0                3               3

[5 rows x 11 columns]

### [실습]
CUSTTYPE별로 숫자를 맵핑하여
CUSTTYPE_NO 컬럼을 생성하세요

In [ ]:
# customerData=customerData.drop(columns="PRODUCTAGE_NEW2")

In [ ]:
customerData["CUSTTYPE_NO"] = np.where(customerData["CUSTTYPE"] =="Big-Screen-lover",1,np.where(customerData["CUSTTYPE"]=="Sleeping-dog",2,3)) 
customerData.head(10)

   CUSTID     AVGPRICE  EMI  ...  TEST  PRODUCTAGE_NEW3 CUSTTYPE_NO
0  A13566  4273.900000    3  ...   2.0                2           1
1  A14219  3642.441950    2  ...   3.0                3           2
2  A15312  3653.884565    2  ...   5.0                5           2
3  A16605  3713.211107    2  ...   2.0                2           3
4  B10634  3391.074215    2  ...   3.0                3           2
5  B16849  3755.263391    2  ...   3.0                3           2
6  B18816  3213.911446    2  ...   2.0                2           3
7  C10639  3516.500000    2  ...   3.0                3           1
8  C12717  3732.900000    2  ...   3.0                3           1
9  C15050  4020.173425    2  ...   5.0                5           2

[10 rows x 11 columns]

### [프로젝트 실습]
[불량 데이터 처리]
kopo_channel_seasonality_new.csv 자료를 담은 
selloutData 변수에서
QTY컬럼 음수(반품)인 경우 0, 양수인 경우 기존 QTY 값유지하는 로직을 적용하여 QTY_NEW 컬럼을 추가하세요

In [6]:
selloutData["QTY_NEW"] = np.where(selloutData.QTY < 0 ,0, selloutData.QTY)

In [7]:
selloutData.QTY.max()
selloutData.QTY.min()
selloutData.QTY.sum()
selloutData.QTY.count()

124658

In [8]:
selloutData[selloutData.QTY < 0]["QTY"].count()

323

### [프로젝트 실습]
[데이터 통합]
selloutData 자료에서 
YEAR, WEEK 컬럼을 생성하고 WEEK 가 52 이하인
데이터만 조회한 후 refinedSelloutData 변수에 담으세요

In [23]:
selloutData = pd.read_csv("/content/drive/MyDrive/0430/kopo_channel_seasonality_new.csv")

customerData = customerData.astype( 
                {"CUSTID":str,
                 "DEVICECOUNT":int})
selloutData = selloutData.astype({
    "YEARWEEK":str
})
selloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY
0      A60   PRODUCT4   201402     71.0
1      A60  PRODUCT59   201402  22275.0
2      A60  PRODUCT34   201402   4463.0
3      A60  PRODUCT47   201402      0.0
4      A60  PRODUCT56   201402     23.0

In [27]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]

In [28]:
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6]

In [29]:
selloutData.head()

  REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
0      A60   PRODUCT4   201402     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  2014   02
2      A60  PRODUCT34   201402   4463.0  2014   02
3      A60  PRODUCT47   201402      0.0  2014   02
4      A60  PRODUCT56   201402     23.0  2014   02

In [30]:
refinedSelloutData = selloutData[selloutData.WEEK.astype(int) <= 52]

In [31]:
len(refinedSelloutData)

123864

In [32]:
refinedSelloutData.head(2)

  REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
0      A60   PRODUCT4   201402     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  2014   02

# 6. 데이터 정렬하기

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [ ]:
sortKey = ["EMI","AVGPRICE"]

customerData.sort_values(by=sortKey, 
                         ascending=[False,True],
                         ignore_index=True,
                         inplace=True)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE    CUSTTYPE
0  J15083  2811.265932    3            6         0.9  Early-bird
1  X13390  2947.543982    3            6         1.1  Early-bird
2  I12899  3018.895637    3            6         0.9  Early-bird
3  J16445  3041.848186    3            6         0.8  Early-bird
4  F17131  3179.708359    3            6         1.1  Early-bird

# 7. 데이터 그룹별 집계함수

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

무이자할부(EMI) 기준 평균지출비용(AVGPRICE)의 평균 산출

In [ ]:
# 무이자할부(EMI) 기준 평균지출비용(AVGPRICE)의 평균 산출
groupKey = ["EMI"]
meanValue = customerData.groupby(by=groupKey)["AVGPRICE"].agg(["mean"])
print(meanValue)
# 컬럼명 변경 (mean -> MEAN_AVGPRICE)
meanValue.rename(columns={"mean":"MEAN_AVGPRICE"}, inplace=True)
# 인덱스 초기화
meanValue.reset_index(inplace=True)
meanValue

            mean
EMI
1    3119.031810
2    3441.429664
3    3559.487188

   EMI  MEAN_AVGPRICE
0    1    3119.031810
1    2    3441.429664
2    3    3559.487188

무이자할부(EMI) 기준 평균지출비용(AVGPRICE)의 사이즈 산출

In [ ]:
# 무이자할부(EMI) 기준 평균지출비용(AVGPRICE)의 사이즈 산출
groupKey = ["EMI"]
meanValue = customerData.\
groupby(by=groupKey)\
        ["AVGPRICE"].\
        agg(["count"])

# 컬럼명 변경 (size -> SIZE_CS)
meanValue.rename(columns={"size":"SIZE_CS"}, 
                 inplace=True)
# 인덱스 초기화
meanValue.reset_index(inplace=True)
meanValue

   EMI  count
0    1     11
1    2    120
2    3     19

다중집계

In [ ]:
# EMI 별 평균구매가격의 평균 및 표준편차 산출
groupData = customerData.\
            groupby(groupKey)["AVGPRICE"].\
            agg(["mean","std"])
groupData = groupData.reset_index()
groupData

   EMI         mean         std
0    1  3119.031810  301.047916
1    2  3441.429664  349.691674
2    3  3559.487188  454.411870

### [실습]
EMI 별 평균가격의 최대 값을 구하세요

In [ ]:
# 기본통계치 구하기
quiz = customerData.\
groupby(['EMI'], as_index=False)[["AVGPRICE"]].\
max()

quiz.head()

   EMI     AVGPRICE
0    1  3419.462596
1    2  4166.533130
2    3  4296.873743

### [프로젝트 실습]
refinedData 에서 →
지역, 상품, 연주차 단위로 정렬하여
sortedData 변수에 담으세요

In [ ]:
refinedSelloutData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY  QTY_NEW  YEAR WEEK
0      A60  PRODUCT4   201402  71.0     71.0  2014   02

In [ ]:
sortKey = ["REGIONID","PRODUCT","YEARWEEK"]

In [ ]:
sortedData = refinedSelloutData.sort_values(sortKey)
sortedData.head()

     REGIONID    PRODUCT YEARWEEK    QTY  QTY_NEW  YEAR WEEK
298       A00  PRODUCT34   201401  661.0    661.0  2014   01
1757      A00  PRODUCT34   201402  679.0    679.0  2014   02
3125      A00  PRODUCT34   201403  578.0    578.0  2014   03
205       A00  PRODUCT34   201404  532.0    532.0  2014   04
4369      A00  PRODUCT34   201405  516.0    516.0  2014   05

In [ ]:
sortedData.head()

     REGIONID    PRODUCT YEARWEEK    QTY  QTY_NEW  YEAR WEEK
298       A00  PRODUCT34   201401  661.0    661.0  2014   01
1757      A00  PRODUCT34   201402  679.0    679.0  2014   02
3125      A00  PRODUCT34   201403  578.0    578.0  2014   03
205       A00  PRODUCT34   201404  532.0    532.0  2014   04
4369      A00  PRODUCT34   201405  516.0    516.0  2014   05

### [프로젝트 실습]
[지역, 상품, 연도별 집계]
sortedData 에서 지역, 상품 단위
판매량(QTY_NEW) 의 평균 연산 후
groupData 변수에 담으세요

이후 컬럼명을 QTY_MEAN로 변경하세요

In [ ]:
groupKey = ["REGIONID","PRODUCT","YEAR"]

In [ ]:
groupData = sortedData.groupby(groupKey, as_index=False).QTY_NEW.mean()

In [ ]:
groupData = groupData.rename(columns = {'QTY_NEW': 'QTY_MEAN'})

In [ ]:
groupData.head()

  REGIONID    PRODUCT  YEAR    QTY_MEAN
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923
3      A00  PRODUCT58  2014    2.673077
4      A00  PRODUCT58  2015    5.711538

### # 기본통계치 구하기

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

In [ ]:
# 기본통계치 구하기
meanPriceValue = customerData.\
groupby(['EMI']).AVGPRICE.\
describe()
meanPriceValue

,count,mean,std,min,25%,50%,75%,max
EMI,,,,,,,,
1,11.0,3119.031810,301.047916,2390.083736,2978.220215,3159.839204,3363.814315,3419.462596
2,120.0,3441.429664,349.691674,2411.008838,3231.429242,3418.480121,3656.799297,4166.533130
3,19.0,3559.487188,454.411870,2811.265932,3219.363531,3592.353540,3867.447366,4296.873743

In [ ]:
meanPriceGroup = meanPriceValue.reset_index()
meanPriceGroup

,EMI,count,mean,std,min,25%,50%,75%,max
0,1,11.0,3119.031810,301.047916,2390.083736,2978.220215,3159.839204,3363.814315,3419.462596
1,2,120.0,3441.429664,349.691674,2411.008838,3231.429242,3418.480121,3656.799297,4166.533130
2,3,19.0,3559.487188,454.411870,2811.265932,3219.363531,3592.353540,3867.447366,4296.873743

# 8. 고급 연산

In [ ]:
import pandas as pd

# 데이터 불러오기
kopoData = pd.read_csv("../dataset/kopo_product_volume.csv")

# 데이터 선택 (ST0001 제품)
kopoDataA01 = kopoData.loc[ kopoData.PRODUCTGROUP == "ST0001" ]

# 데이터 정렬
sortKey = ["REGIONID","PRODUCTGROUP","YEARWEEK"]
kopoSortedData = kopoDataA01.sort_values(sortKey, ignore_index=True)
kopoSortedData.head()

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201401  513598
1      A01       ST0001    201402  438251
2      A01       ST0001    201403  420290
3      A01       ST0001    201404  458431
4      A01       ST0001    201405  482381

In [ ]:
# 이동평균 산출 (구간:5, 중심기준)
kopoSortedData["MA5"] = kopoSortedData["VOLUME"].rolling(window=5, 
                                 center=True, 
                                 min_periods=1).mean()
kopoSortedData.head()

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME            MA5
0      A01       ST0001    201401  513598  457379.666667
1      A01       ST0001    201402  438251  457642.500000
2      A01       ST0001    201403  420290  462590.200000
3      A01       ST0001    201404  458431  473953.000000
4      A01       ST0001    201405  482381  510381.200000

In [ ]:
kopoSortedData["EFFECT"] = kopoSortedData.VOLUME / \
kopoSortedData.MA5
kopoSortedData.head()

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME            MA5    EFFECT
0      A01       ST0001    201401  513598  457379.666667  1.122914
1      A01       ST0001    201402  438251  457642.500000  0.957627
2      A01       ST0001    201403  420290  462590.200000  0.908558
3      A01       ST0001    201404  458431  473953.000000  0.967250
4      A01       ST0001    201405  482381  510381.200000  0.945139

In [ ]:
# 주차컬럼 생성
kopoSortedData["WEEK"] = kopoSortedData["YEARWEEK"].astype(str).str[4:6]

# 지역, 상품, 주차별 효과 산출
groupKey = ["REGIONID","PRODUCTGROUP","WEEK"]
weeklyEffect = kopoSortedData.\
                groupby(by=groupKey)["EFFECT"].\
                agg(["mean"]).reset_index()
weeklyEffect.rename(columns={"mean":"WEEKLY_EFFECT"}, inplace=True)
weeklyEffect.head(2)

  REGIONID PRODUCTGROUP WEEK  WEEKLY_EFFECT
0      A01       ST0001   01       0.924172
1      A01       ST0001   02       0.909825

# 9. 데이터 병합

### (1) 속성값을 추가하는 경우

### [실습]
join_region_master.csv,
join_kopo_product_volume.csv
joinMaster, joinSellout 변수에 담으세요

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
joinSellout = pd.read_csv("../dataset/join_kopo_product_volume.csv")
print(joinSellout.head())

# CSV 파일을 읽어 Data Frame 변수에 저장하기
joinMaster = pd.read_csv("../dataset/join_region_master.csv", encoding = "ms949") 

print(joinMaster.head())

  REGIONID PRODUCT  YEARWEEK   QTY
0      A01  ST0001    201901  3000
1      A01  ST0001    201902  3500
2      A02  ST0002    201901  4000
3      A02  ST0003    201902  7000
  REGIONID REGIONNAME
0      A01         한국
1      A02         미국
2      A03        프랑스
3      A04         독일

In [ ]:
mergeResult = pd.merge(left = joinSellout,
                       right = joinMaster,
                       left_on="REGIONID",
                       right_on = "REGIONID",
                       how="inner")\
[["REGIONID","REGIONNAME","PRODUCT","YEARWEEK","QTY"]]
mergeResult.head()

  REGIONID REGIONNAME PRODUCT  YEARWEEK   QTY
0      A01         한국  ST0001    201901  3000
1      A01         한국  ST0001    201902  3500
2      A02         미국  ST0002    201901  4000
3      A02         미국  ST0003    201902  7000

### [프로젝트 실습] 
refinedSelloutData와 groupData를 
[REGIONID, PRODUCT, YEAR] 키로 조인하여 
mergedData 변수에 아래와 같이 담으세요

In [ ]:
groupData.head(5)

  REGIONID    PRODUCT  YEAR    QTY_MEAN
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923
3      A00  PRODUCT58  2014    2.673077
4      A00  PRODUCT58  2015    5.711538

In [ ]:
refinedSelloutData.head(2)

  REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW  YEAR WEEK
0      A60   PRODUCT4   201402     71.0     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  22275.0  2014   02

In [ ]:
joinKey = ["REGIONID","PRODUCT","YEAR"]

In [ ]:
mergedData = pd.merge(refinedSelloutData,groupData, on=joinKey)
mergedData.head()

  REGIONID   PRODUCT YEARWEEK   QTY  QTY_NEW  YEAR WEEK   QTY_MEAN
0      A60  PRODUCT4   201402  71.0     71.0  2014   02  29.134615
1      A60  PRODUCT4   201401  16.0     16.0  2014   01  29.134615
2      A60  PRODUCT4   201403  51.0     51.0  2014   03  29.134615
3      A60  PRODUCT4   201406  19.0     19.0  2014   06  29.134615
4      A60  PRODUCT4   201404  21.0     21.0  2014   04  29.134615

### [프로젝트 실습] 
계절성 지수는
QTY_NEW / QTY_MEAN
으로 산출하여 SEASONALITY 컬럼을 생성한다.

In [ ]:
mergedData["SEASONALITY"] = mergedData.QTY_NEW/mergedData.QTY_MEAN

In [ ]:
mergedData.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,QTY_MEAN,SEASONALITY
0,A60,PRODUCT4,201402,71.0,71.0,2014,02,29.134615,2.436964
1,A60,PRODUCT4,201401,16.0,16.0,2014,01,29.134615,0.549175
2,A60,PRODUCT4,201403,51.0,51.0,2014,03,29.134615,1.750495
3,A60,PRODUCT4,201406,19.0,19.0,2014,06,29.134615,0.652145
4,A60,PRODUCT4,201404,21.0,21.0,2014,04,29.134615,0.720792

### [프로젝트 실습] 
마지막으로 [지역, 상품, 주차] 별 
계절성 지수, 판매량  평균 값을
조별 산출하세요.

In [ ]:
groupKey = ["REGIONID","PRODUCT","WEEK"]

In [ ]:
finalResult = mergedData.groupby(groupKey)["SEASONALITY"].agg(["mean"]).reset_index()
finalResult.head()

  REGIONID    PRODUCT WEEK      mean
0      A00  PRODUCT34   01  1.570782
1      A00  PRODUCT34   02  1.755540
2      A00  PRODUCT34   03  1.319460
3      A00  PRODUCT34   04  1.490298
4      A00  PRODUCT34   05  1.061909

In [ ]:
finalResult

      REGIONID    PRODUCT WEEK      mean
0          A00  PRODUCT34   01  1.570782
1          A00  PRODUCT34   02  1.755540
2          A00  PRODUCT34   03  1.319460
3          A00  PRODUCT34   04  1.490298
4          A00  PRODUCT34   05  1.061909
...        ...        ...  ...       ...
41283      A77  PRODUCT12   48  1.352712
41284      A77  PRODUCT12   49  1.094083
41285      A77  PRODUCT12   50  1.386116
41286      A77  PRODUCT12   51  1.255192
41287      A77  PRODUCT12   52  1.388175

[41288 rows x 4 columns]

### (2) 동일한 컬럼 데이터를 합치는 경우

### [실습] 
join_region_master.csv,
join_kopo_product_volume.csv
joinMaster, joinSellout 변수에 담으세요

In [ ]:
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
joinSellout = pd.read_csv("../dataset/join_kopo_product_volume.csv")
print(joinSellout.head())

# CSV 파일을 읽어 Data Frame 변수에 저장하기
joinMaster = pd.read_csv("../dataset/join_region_master.csv", encoding = "ms949") 

print(joinMaster.head())

  REGIONID PRODUCT  YEARWEEK   QTY
0      A01  ST0001    201901  3000
1      A01  ST0001    201902  3500
2      A02  ST0002    201901  4000
3      A02  ST0003    201902  7000
  REGIONID REGIONNAME
0      A01         한국
1      A02         미국
2      A03        프랑스
3      A04         독일

In [ ]:

# A01 데이터 정제
a01data = joinSellout[(joinSellout['REGIONID']=='A01')]
print(len(a01data))

# A02 데이터 정제
a02data = joinSellout[(joinSellout['REGIONID']=='A02')]
print(len(a02data))

# 데이터 결과 값 MERGE
mergedata = pd.concat([a01data, a02data], axis=0)
print(len(mergedata))

2
2
4

### [참조] 컬럼에 일반 함수 적용

In [ ]:
# Attach preFix
def columnFunction(inputColumn):
    preFix = "LEDTV_"
    fullName = ""
    if(inputColumn.count(preFix) < 1):
        fullName = preFix + inputColumn
    return fullName

### [실습] 
testProduct = ["LEDTV_32ABC","42ABC"]
testQty = [200,100] 자료를 활용하여
상품명에 LEDTV_ 접두어가 없는경우 붙이고
있으면 하나만 붙이는 로직을 구현하세요

In [ ]:
testProduct = ["LEDTV_32ABC","42ABC"]
testSellout = [200,100]

In [ ]:
# Attach preFix
def columnFunction(inputColumn):
    preFix = "LEDTV_"
    fullName = ""
    if(inputColumn.count(preFix) < 1):
        fullName = preFix + inputColumn
    else:
        fullName = inputColumn
    return fullName

In [ ]:
testProduct = ["LEDTV_32ABC","42ABC"]
testSellout = [200,100]

In [ ]:
testDf = pd.DataFrame(zip(testProduct,testSellout), columns=["PRODUCT","QTY"])

In [ ]:
testDf

In [ ]:
testDf["PRODUCT_NEW"] = testDf["PRODUCT"].apply(columnFunction)

In [ ]:
testDf

       PRODUCT  QTY  PRODUCT_NEW
0  LEDTV_32ABC  200  LEDTV_32ABC
1        42ABC  100  LEDTV_42ABC